<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>

 		<div class="right_col" role="main">
          <div class="">
            <div class="row top_tiles" ng-controller="LiveController">
             
              <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12" th:each="list : ${newPack}">
                <div class="tile-stats" ng-controller="LiveController"> 
                  <div class="icon"><i class="fa fa-caret-square-o-right"></i></div>
                  <div class="count" th:text="${list.jumlah}" th:id="count+${list.lckode}"></div>
                  <h3 th:text="${list.lcnm}"></h3>
                  <p>Lorem ipsum psdea itgum rixt.</p>
                </div>
              </div>
<!-- 				<div  ng-controller="LiveController"> -->
<!-- 				   <p>Cricket - Live Score</p> -->
<!-- 				    <ul> -->
<!-- 				        <li ng-repeat="x in myres">{{$index+1}} - {{x.name}} - <b>{{x.runs}}</b> runs (<b>{{x.balls}}</b>balls)</li> -->
<!-- 				    </ul> -->
<!-- 				</div>    -->
            </div>
          </div>
        </div>
</body>
</html>